/*
!/README.md
!/.gitignore
!/common
!/1-CommunityContributed
!/2-Open-domainExtraction
/2-Open-domainExtraction/data
!/3-InformationExtraction
!/4-LexicalThesaurus
!/5-LogicBased

# /common
/common/*
!/common/NumeratedKBFormat.md
!/common/*.py
!/common/test.sh